html, body{
 margin: 0;
 padding: 0;
 border: 0;
}
body {
 font-family:Arial,  sans-serif;
 line-height:1.5;
 font-size:16px;
 background: #fff;
 padding:5px;
 color: #000;
 word-wrap: break-word;
 -webkit-text-size-adjust: none;
}
h1, h2, h3, h4, h5, h6{ font-weight: normal; }
p img { float: left; margin: 0 10px 5px 0; padding: 0; }
img { border: 0; max-width: 100%; }

/*  Main Styles */
body{
    background: #fff;
}
header{
    top:0; left:0;
    height:45px;
}
footer {
    bottom:0; left:0;
    height:48px;
    background-color:#c27b00;
    border-top:1px solid #eee;
}
header, footer{
    background-color:#deb500;
    padding:0;
    position:absolute;
    z-index:2;
    font-size:20px;
    width:100%;
    text-align:center;
    color:#f3f3f3;
    font-weight:bold;
    text-shadow:0 -1px 0 rgba(0,0,0,0.5);
    line-height:45px;
}
h1{
    margin:0;
    text-transform: uppercase;
}
#wrapper {
    position:absolute;
    z-index:1;
    top:45px; bottom:48px; left:0;
    width:100%;
    overflow:auto;
}
#main-content {
    position:absolute;
    z-index:1;
    width:100%;
    padding:0;
}

/* Tab Bar */
#tab-bar{
    margin:0;
    padding:0;
}
#tab-bar li {
    display: inline;
    float:left;
    width: 33.333%;
}
#tab-bar a {
    color: #cdcdcd;
    display: block;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-touch-callout:none;
}

#pages > div {
    display: none;
}
#pages > div.current {
    display: block;
}

#pages{
    position:relative;
}
/* Update this style */
#pages > div {
    display: none;
    position: absolute;
    top:0;left:0;
    width:100%;
}

.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 400ms;
}
@-webkit-keyframes fade-in {
    from { opacity: 0; } to { opacity: 1; }
}
.fade.in {
    -webkit-animation-name: fade-in;
    z-index: 5;
}
.fade.out {
    z-index: 0;
}

/** Tweets Styling **/
#tweets {
    list-style:none;
    padding:10px;
}
#tweets li{
    font-size:12px;
    overflow: hidden;
    margin-bottom:20px;
}
#tweets li h2{
    font-size:14px;
    margin:0;
}
.avatar{
    margin-right:10px;
}
#tweets li a, #tweets li span {
    float:left;
}
#tweets li span {
    width:70%;
}

/** Map Styles **/
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#wrapper,#main-content,#pages,#map_canvas { height: 100% }

button.camera-control {
  background-color: #f3f3f3;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(50%, #dddddd), color-stop(50%, #d2d2d2), color-stop(100%, #dfdfdf));
  background-image: -webkit-linear-gradient(top, #f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%);
  background-image: linear-gradient(top, #f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%);
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #b4b4b4;
  border-right: 1px solid #dfdfdf;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d5d5d5, 0 -1px 2px 1px #efefef;
  box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d5d5d5, 0 -1px 2px 1px #efefef;
  color: #666;
  display: block;
  font: bold 16px "helvetica neue", helvetica, arial, sans-serif;
  margin: 10px auto;
  padding: 7px 0;
  text-shadow: 0 1px 1px #fff;
  width: 150px;
}
button.camera-control:hover {
    background-color: #e5e5e5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(50%, #d1d1d1), color-stop(50%, #c4c4c4), color-stop(100%, #b8b8b8));
    background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
    background-image: linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
    -webkit-box-shadow: inset 0 1px 0 0 #f2f2f2, 0 1px 0 0 #c9c9c9, 0 -1px 2px 1px #e3e3e3;
    box-shadow: inset 0 1px 0 0 #f2f2f2, 0 1px 0 0 #c9c9c9, 0 -1px 2px 1px #e3e3e3; }
  button.camera-control:active {
    -webkit-box-shadow: inset 0 0 30px 0 #999999, 0 1px 0 0 white;
    box-shadow: inset 0 0 30px 0 #999999, 0 1px 0 0 white;
}